.login-container {
  width: 28rem;
  min-width: 10rem;
  padding: 2rem;
  margin: 5rem;
  background-color: var(--black-dark-background);
}

.input-login {
  width: 20rem;
  min-width: 12rem;
}

.fs-small {
  font-size: 0.9rem;
}

.login-button {
  width: 20rem;
  min-width: 12rem;
}

.login-button.btn-size {
  width: 6rem;
  min-width: 3rem;
}
