@import "https://dreamui-demo.netlify.app/dreamui-v1.css";
@import "https://dreamui-v2.netlify.app/dreamui-v1.css";
@import "./components/Landing/Landing.css";
@import "./components/Sidebar/Sidebar.css";
@import "./components/Home/Home.css";
:root {
  --primary-ocean-color: #10d8df;
  --black-light-shade: #303030;
  --black-dark-background: #282828;
  --gray-text: #f1e5e5a6;
  --white-text: rgb(228, 217, 217);
  --light-pink: #ff7eb9;
  --dark-pink: #ff32b2;
  --violet: #5b2245;
  --aqua-blue: #7afcff;
  --light-yellow: #feff9c;
  --dark-yellow: #fff740;
  --orange: #ffa930;
  --light-green: #74ed4b;
}

body {
  background-color: var(--black-dark-background);
}
.ocean-color-text {
  color: var(--primary-ocean-color);
}

.ocean-color-bg {
  background-color: var(--primary-ocean-color);
}

.gray-text-note {
  color: var(--gray-text);
}

.white-text-note {
  color: var(--white-text);
}

.cursor-pointer {
  cursor: pointer;
}

.light-pink-bg {
  background-color: var(--light-pink);
}

.dark-pink-bg {
  background-color: var(--dark-pink);
}

.violet-bg {
  background-color: var(--violet);
}

.aqua-blue-bg {
  background-color: var(--aqua-blue);
}

.light-yellow-bg {
  background-color: var(--light-yellow);
}

.dark-yellow-bg {
  background-color: var(--dark-yellow);
}

.note-orange-bg {
  background-color: var(--orange);
}
.light-green-bg {
  background-color: var(--light-green);
}

.black-bg {
  background-color: var(--black-dark-background);
}

.pos-relative {
  position: relative;
}
