@import "https://dreamui-demo.netlify.app/dreamui-v1.css";
@import "https://dreamui-v2.netlify.app/dreamui-v1.css";
@import "./components/Landing/Landing.css";
@import "./components/Sidebar/Sidebar.css";
@import "./components/Home/Home.css";
:root {
  --primary-ocean-color: #10d8df;
  --black-light-shade: #303030;
  --black-dark-background: #282828;
  --gray-text: #f1e5e5a6;
  --white-text: rgb(228, 217, 217);
  --brown: #5c2b29;
  --olive-dark: #614a19;
  --violet: #5b2245;
  --olive-light: #635d19;
  --blue-dark: #42275e;
  --light-blue: #2d555e;
  --green: #345920;
  --greenish-blue: #16504b;
  --violet-lighter-shade: #79305d;
}

body {
  background-color: var(--black-dark-background);
}
.ocean-color-text {
  color: var(--primary-ocean-color);
}

.ocean-color-bg {
  background-color: var(--primary-ocean-color);
}

.gray-text-note {
  color: var(--gray-text);
}

.white-text-note {
  color: var(--white-text);
}

.cursor-pointer {
  cursor: pointer;
}

.brown-bg {
  background-color: var(--brown);
}

.violet-bg {
  background-color: var(--violet);
}

.olive-dark-bg {
  background-color: var(--olive-dark);
}

.blue-dark-bg {
  background-color: var(--blue-dark);
}

.light-blue-bg {
  background-color: var(--light-blue);
}

.green-bg {
  background-color: var(--green);
}
.greenish-blue-bg {
  background-color: var(--greenish-blue);
}

.black-bg {
  background-color: var(--black-dark-background);
}

.pos-relative {
  position: relative;
}
