@import "https://dreamui-demo.netlify.app/dreamui-v1.css";
@import "https://dreamui-v2.netlify.app/dreamui-v1.css";
@import "./components/Landing/Landing.css";
@import "./components/Sidebar/Sidebar.css";
:root {
  --primary-ocean-color: #10d8df;
  --black-light-shade: #303030;
  --black-dark-background: #282828;
  --gray-text: #f1e5e5a6;
  --white-text: rgb(228, 217, 217);
}

body {
  background-color: var(--black-dark-background);
}
.ocean-color-text {
  color: var(--primary-ocean-color);
}

.ocean-color-bg {
  background-color: var(--primary-ocean-color);
}

.gray-text-note {
  color: var(--gray-text);
}

.white-text-note {
  color: var(--white-text);
}

.cursor-pointer {
  cursor: pointer;
}
